*{
  margin: 0;
  padding: 0

}

.container.toggle{
  background-color: black;
  color: white;
}

.sub-wrapper {
  display: flex;
   /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.json-input-wrapper {
  padding-left: 30px;
  padding-right:20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   background-color: rgb(222, 235, 235);
}
.json-input-wrapper.toggle{
  background-color: black;
  color: white;
}

.sub-heading {
  color: #7f7f7f;
  margin-bottom: 6px;
}
.sub-heading.toggle {
  color: yellowgreen;
  margin-bottom: 6px;
}

.generate-tree-btn {
  background-color: rgb(75, 127, 145);
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: none;
  font-weight: 600;
  margin-bottom:20px;
  margin-top: 5px;
}

.textarea-box {
  border-radius: 8px;
  border-color: #cacaca;
}

.node-tree-wrapper {
  width: 100%;
  
  margin-left: 10px;
  border-radius: 8px;
 
}

.search-btn{
  padding: 4px;
  background-color: blue;
  border-radius: 8px;
  color: white;
  margin-left: 10px;
}
.searchbar{
  padding: 4px;
  border-radius: 8px;
}
button:disabled{
  background-color: #7f7f7f;
  cursor:not-allowed
}
.search-toggle-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.react-flow__controls-button{
  color: red !important;
}
.toggle-text{
  color: #ffff;
}